
.box {
  height: 100vh;
  background-color: #ffffff;
}

.result {
  padding-top: .8rem;
  margin-bottom: 1.2rem;
}

.success {
  background-image: url(./images/pay-success.png);
}

.fail {
  background-image: url(./images/pay-fail.png);
}

.result__icon {
  display: inline-block;
  width: 2.65rem;
  height: 2.1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.result--success,.result--fail {
  margin: .6rem 0 .5rem 0;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
}

.result__content {
  line-height: 1.5;
  color: #aeaeae;
}

.btn {
  display: inline-block;
  padding: .25rem 0;
  width: 3.85rem;
  border-radius: 30px;
}

.btn--fill {
  margin-bottom: .3rem;
  background-color: #f24c59;
  color: #ffffff;
  border: .03rem solid #f24c59;
}

.btn--return {
  border: .03rem solid #f24c59;
  color: #f24c59;
}