.main {
  margin-top: 0.16rem;
  padding-bottom: 0.2rem;
  background-color: #fff;
}
.field-group {
  height: 1.28rem;
  margin-left: 0.26rem;
  margin-right: 1.23rem;
}
.field-group__label {
  margin-right: 0.45rem;
}
.field__input {
  display: block;
  box-sizing: border-box;
  margin: 0 auto 0.33rem;
  border: 1px solid #c6c6c6;
  width: 5.88rem;
  height: 3.24rem;
  padding: 0.2rem;
  line-height: 1.2;
}
